<div class="password-container">

    <form>

        <mat-form-field class="password-field" hideRequiredMarker>

            <mat-label>Password</mat-label>

            <input matInput type="text" matInput 
            [formControl]="passwordFormControl" 
            [errorStateMatcher]="customMatcher"
            placeholder="Enter the password">

            <app-strength-field></app-strength-field>

            <mat-error *ngIf="passwordFormControl.hasError('required')">
                Password is required
            </mat-error>

        </mat-form-field>

        

    </form>

</div>