<div class="password-container">

    <form class="example-form">

        <mat-form-field class="password-field">

            <mat-label>Password</mat-label>

            <input matInput type="text" matInput 
            [formControl]="passwordFormControl" 
            [errorStateMatcher]="matcher"
            placeholder="Enter the password">

            <mat-error *ngIf="passwordFormControl.hasError('required')">
                Password is required
            </mat-error>

        </mat-form-field>

    </form>

</div>