<div class="password-container">

    <form>

        <mat-form-field class="password-field" hideRequiredMarker [ngClass]="{'strong': (strengthLvl == 3), 
                    'medium': (strengthLvl == 2),
                    'easy': (strengthLvl == 1 || strengthLvl == -1), 
                    'empty': (strengthLvl == 0)}">

            <mat-label>Password</mat-label>

            <input matInput type="text" matInput [formControl]="passwordFormControl" [errorStateMatcher]="customMatcher"
                placeholder="Enter the password">

            <app-strength-field [strength]="strengthLvl"></app-strength-field>

            <mat-error *ngIf="passwordFormControl.hasError('required')">
                Password is required
            </mat-error>

            <mat-error *ngIf="passwordFormControl.hasError('short')">
                Password has less than 8 characters
            </mat-error>

            <mat-error *ngIf="passwordFormControl.hasError('easy')">
                Password is easy
            </mat-error>

            <mat-error *ngIf="passwordFormControl.hasError('medium')">
                Password is medium
            </mat-error>

            <mat-error *ngIf="passwordFormControl.hasError('strong')">
                Password is strong
            </mat-error>

            <mat-error *ngIf="passwordFormControl.hasError('spaces')">
                Password has unknown characters or spaces
            </mat-error>

        </mat-form-field>

    </form>

</div>