.password-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 3rem 3rem 1rem 3rem;

    height: 12rem;
    border-radius: 2rem;

    background-color: whitesmoke;

    .password-field {
        width: 32rem;
        font-size: 2rem;
    }

    ::ng-deep .mat-error {
        margin-top: 1.2rem;
        color: gray;
    }

    ::ng-deep .mat-form-field-infix {
        padding-bottom: 0;
    }

    ::ng-deep .mat-focused .mat-form-field-label {
        color: unset;
    }

    ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
        color: unset;
    }

    ::ng-deep .mat-form-field-underline {
        background-color: gray;
    }

    ::ng-deep .mat-form-field-ripple {
        background-color: gray;
    }
    
}


.easy {
    ::ng-deep .mat-error {
        margin-top: 1.2rem;
        color: red;
    }

    ::ng-deep .mat-focused .mat-form-field-label {
        color: red;
    }

    ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
        color: red;
    }

    ::ng-deep .mat-form-field-underline {
        background-color: red;
    }

    ::ng-deep .mat-form-field-ripple {
        background-color: red;
    }
    
}

.medium {
    ::ng-deep .mat-error {
        margin-top: 1.2rem;
        color: yellow;
    }

    ::ng-deep .mat-focused .mat-form-field-label {
        color: yellow;
    }

    ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
        color: yellowred;
    }

    ::ng-deep .mat-form-field-underline {
        background-color: yellow;
    }

    ::ng-deep .mat-form-field-ripple {
        background-color: yellow;
    }
}

.strong {
    ::ng-deep .mat-error {
        margin-top: 1.2rem;
        color: green;
    }

    ::ng-deep .mat-focused .mat-form-field-label {
        color: green;
    }

    ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
        color: green;
    }

    ::ng-deep .mat-form-field-underline {
        background-color: green;
    }

    ::ng-deep .mat-form-field-ripple {
        background-color: green;
    }

}

.empty {
    ::ng-deep .mat-error {
        margin-top: 1.2rem;
        color: gray;
    }

    ::ng-deep .mat-focused .mat-form-field-label {
        color: gray;
    }

    ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
        color: gray;
    }

    ::ng-deep .mat-form-field-underline {
        background-color: gray;
    }

    ::ng-deep .mat-form-field-ripple {
        background-color: gray;
    }
}