.strength-container {
    position: relative;
    top: 1.5rem;

    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;

    .strength-level {
        width: 12rem;
        height: 0.6rem;
        border-radius: 1rem;
    }

}
.easy {
    #first {
        background-color: red;
    }

    #second,
    #third {
        background-color: gray;
    }
}

.medium {

    #first,
    #second {
        background-color: yellow;
    }

    #third {
        background-color: gray;
    }
}

.strong {

    #first,
    #second,
    #third {
        background-color: green;
    }
}

.short {

    #first,
    #second,
    #third {
        background-color: red;
    }
}

.empty {

    #first,
    #second,
    #third {
        background-color: gray;
    }
}

