.strength-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;

    .strength-level {
        width: calc( (32rem - 40px) / 3);
        height: 1rem;
        border: 2px solid black;
        border-radius: 1rem;
    }
}