.strength-container {
    position: relative;
    top: 1.5rem;

    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;

    .strength-level {
        width: 12rem;
        height: 0.6rem;
        border: 2px solid black;
        border-radius: 1rem;
    }
}